.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 92px;
    margin-bottom: 92px;
}

.header__menu {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.header__links__list {
    display: flex;
    margin-left: 50px;
    gap: 33px;
    list-style: circle;
}

.header__links__list__item_no-bullit {
    list-style: none;
    margin: auto;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid;
}

.header__link_active {
    text-decoration: none;
    padding-bottom: 1px;
    border: none;
}

.header__logo {
    max-width: 148px;
    margin-left: 36px;
}

.header__logo-image {
    height: 105px;
}

.address {
    align-self: center;
    justify-self: end;
    margin-right: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.35;
    text-underline-offset: 4px;
    max-width: 240px;
}

.address:first-child {
    margin-right: 75px;
}

.cover {
    position: relative;
    display: grid;
    grid-template: 1fr / 2fr;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: #000;
    z-index: 0;
}

.cover__title {
    font-size: 100px;
    line-height: 1;
    text-transform: uppercase;
    display: grid;
    row-gap: 27px;
    z-index: 1;
    margin: 173px 50px 0;
}

.cover__title-text-top {
    justify-self: start;
}

.cover__title-text-center {
    justify-self: center;
}

.cover__title-text-bottom {
    justify-self: end;
    line-height: 0.85;
}

.title-text_normal {
    letter-spacing: 30px;
}

.title-text_indented {
    letter-spacing: 60px;
}

.title-text_indented-null {
    letter-spacing: 0;
}

.cover__subtitle {
    display: flex;
    justify-self: end;
    padding: 143px 50px 50px;
    z-index: 1;
}

.cover__subtitle-text {
    align-self: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 19px;
}

.button {
    width: 257px;
    height: 52px;
    background: none;
    color: #FFF;
    border: 1px solid #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 78px;
}

.lots {
    padding: 0 24px 183px 24px;
}

.lots__heading {
    padding: 0 0 30px 37px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.lots__card-list-item {
    flex-grow: 1;
    width: 328px;
    min-height: 554px;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-transform: uppercase;
    padding: 48px 35px 0 39px;
    z-index: 1;
}

.card__text {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    padding: 0 35px 46px 39px;
    z-index: 1;
}

.lots__look-more-link {
    max-width: fit-content;
    display: block;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    margin: 29px 0 0 39px;
}

.about {
    display: grid;
    column-gap: 30px;
    padding: 0 24px;
    grid-template-columns: 328px auto;
}

.about__logo {
    width: 237px;
    height: 237px;
    border-radius: 50%;
    background-color: #000;
    justify-self: center;
}

.about__logo-image {
    padding: 61px 44px 62px 45px;
}

.about__text-column {
    color: #000;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 101px;
}

.about__subtitle {
    display: flex;
    flex-direction: column;
}

.about__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.about__text:first-child {
    margin-bottom: 24px;
    margin-right: 5px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 181px;
    margin-bottom: 90px;
    text-decoration: none;
}

.footer__menu {
    display: flex;
    justify-self: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer__menu-link_active {
    text-decoration: none;
    border: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 48px;
    margin-right: 50px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}